div.leaflet-control-layers.leaflet-control {
  border-width:5px;
  border-color:#000;
}

.leaflet-control-layers, .leaflet-control-layers-expanded {
  width: 270px;
  background-color: #000000;
  border-width: 0;
  padding:0px;
  border:0;

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }

  .leaflet-control-layers-toggle {
    background-image: none;
    width: 100%;
    height:30px;
    margin: 10px;
    text-decoration: none;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: white;
      margin: 0;

    }
  }

  .leaflet-control-layers-list {
    margin: 0px;

    span {
      font-size: 14px
    }

    label {
      margin:0;
    }

    .leaflet-control-layers-overlays div {
      padding-top:10px;
      padding-bottom: 10px;
      padding-left:10px;
    }


  }
}
