.leaflet-popup-content {
  h1, h2, h3, h4 {
    font-family: _font(family);
  }

  p {
    font-family: _pfont(family);
    font-size:16px
  }

  padding: 1em 0 0 0;

  img {
    display:block;
    margin: 1em 0 1em 0;
    width:100%;
  }
}

div.leaflet-popup-content-wrapper {
  border-radius: 0px;
}
