// Style for google translate element

.goog-te-menu-value {
  font-family: _font(family);
}

#google_translate_element {
  margin-bottom: 2em;
}

.goog-te-gadget-simple {
  background-color: #000000;
}
