#google_translate_element {
  margin-bottom: 2em;

  .goog-te-gadget-simple {
    border-width: 1px;
    border-color: #444444;
    padding:5px;
    border-radius: 5px;
  }

  .goog-te-menu-value {
    font-family: _font(family);
  }

  img {
    visibility: hidden;
    width:0px;
    margin:0px
  }

  .goog-te-menu-value {
      span {
        margin-right:5px;
      }
  }
}

iframe.goog-te-banner-frame {

}
